body{
    background-color: #D4D4D4;
    margin: 0%;
}



#home-page {
    margin: 0%;
    background-color: #F5F5F5;
    overflow: auto; /* Allow scrolling on mobile */
    height: auto;   /* Allow content to flow on mobile */
}


/* HOME PAGE */



#home-header{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 13;
    flex-direction: column;
}


#home-title {
    font-family: john-doe, sans-serif;
    font-style: normal;
    font-size: 40px; /* Default for desktop */
    color: #B11E16;
    text-decoration: none;
    text-shadow: 1px 1px 2px #00000029;
    text-align: center;
 
    margin-top: 20px;
    
    
}



#home-menu-button {
    background-image: url('../img/Menu_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px; /* Adjusted size */
    width: 40px; /* Adjusted size */
    margin: 0 auto; /* Centers horizontally */
    margin-top: 30px;
    display: block;
}




#home-menu {
  

    
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Initially hidden */
        z-index: 30;
    
}

#home-menu > a {
    font-family: john-doe, sans-serif;
    font-size: 25pt;
    color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0% 0% 0%;
    text-decoration: none;
}





#home-pic {
    display: flex;    
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
}

#home-pic-left {
    background-image: url('../img/home-left.png');
    width: 100%;
    background-size: cover; /* Full width of the container */
    background-position: right;
    background-repeat: no-repeat;
    z-index: 3;
    position: relative;
    margin-top: 0;
    height: 100vh; /* Full height for mobile */
}


#home-pic-right{
    background-image: url('../img/home-right.png');
    width: 100%;
    background-size: cover; /* Full width of the container */
    background-position: left;
    background-repeat: no-repeat;
    z-index: 3;
    position: relative;
    margin-top: 0;
    height: 100vh; /* Full height for mobile */

}

 #split-left {
    width: 50%;
    overflow: hidden;
  }

  #split-right {
    width: 50%;
    overflow: hidden;
  }
  
  








/* HEADER */

nav{
    display: flex;
    justify-content: flex-start;
    border-bottom: #9A1F00 solid 1px;
    box-shadow: 4px 0px 8px #888888;
	width: 100%;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
    position: fixed;
    background-color: #D4D4D4;
    z-index: 1000;

}

.nav-item{
    color: #9A1F00; 
    margin: 10px 20px 5px 20px;

}



.menu-button{
   font-size: 40px;
    
}


.title{
    font: normal normal normal 20px/22px JohnDoe;
    text-decoration: none;
    text-align: center;
    flex-basis: 90%;
}

#main{
    margin-top: 65px;


}



/* ABOUT PAGE */

#about-pic{
    background-image: url('../img/Cuba-9-big.jpeg');
    
}


.background-pic{
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    margin: 0%;
    height: 280px;

}

.pic-description{

	position: absolute;
	overflow: visible;
	text-align: right;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(249,249,249,1);
    margin-top: 260px;
    margin-left: 35%;

}


.headline{
    font-family: Futura, sans-serif;
    font-size: 13px;
    color: #2D2D2D;
    display: flex;
    margin: 0px 10px 0px 20px;
    
}


.intro-text{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 26px;

}


/* TIMELINE PAGE */
#timeline-pic{
    background-image: url('../img/Berlin-wall.jpeg');
    height: 1000px;
    opacity: 50%;


}

#coming-soon{
    color: #B11E16;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 800;
    position: absolute;
    position: fixed;
    margin-top: -700px;
    width: 100%;
    text-align: center;

    
}


/* TEXTBOOKS PAGE */

.parallax-window {
	min-height: 600px;
	background: transparent;
    background-repeat: no-repeat;
}



#textbooks-pic{
    background-image: url('../img/Korea.png');
    
}


#quote-wrapper{
    margin-left: 30%;
    margin-right: 5%;

}

#quote{
    
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 25px;
    font-style: italic;

}


#quote-attribution{
    
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: right;

}

.secondary-headline{
    text-align: center;
    font-family: Palatino;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    color: rgba(177,30,22,1);
    text-transform: uppercase;

}

.secondary-headline>h2{
    margin-top: -20px;
    margin-bottom: 0px;

}



.section-text{
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 22px;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;

}



/* SLIDER*/
.bx-viewport{
    overflow: auto !important;
}

.bx-wrapper{
    /* width: 100% !important; */
    margin: auto;
    border: 1px solid #9A1F00;
    max-width: 1000px !important;
    background-color: #F1F1F3;
}

.bx-wrapper .bx-controls-direction a{
    z-index: 1 !important;
    margin-top: -196px !important;

}

.soviet-flag{ 
    background-image: url('../img/Flag_of_the_Soviet_Union.svg');
 

}
.russian-flag{
    background-image: url('../img/Flag_of_Russia.svg');
    
}

.soviet-flag, .russian-flag{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 65px;
    width: 120px;

}

.flag{
    margin-left: 150px;
    flex-basis: 25%;

}


.year{
    color: white;
    font-size: 34px;
    text-align: end;
    vertical-align: bottom;
    display: table-cell;

}


h3{
    margin: 15px 30px 0px 15px;
    font-size:20px;
    font-weight:700 ;
    font-style: normal;
    font-family: sans-serif;
    color: rgba(45,45,45,1);
    text-transform: uppercase;

}



.li-slide>header{
    
    align-items: center;
    background-color: #F1F1F3;
    margin-top: 20px;

}

.book-cover{
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin-top: 30px;
    margin-right: 20px;

}


.book-cover-kim{
    background-image: url('../img/1972.png');
    margin-left: 60px;  
}

.book-cover-berkhin{
    background-image: url('../img/1965.png');
    margin-left: 80px;        
}

.book-cover-utkin{
    background-image: url('../img/История\ России.\ XX\ век\ 11\ класс\ Островский\ В.П.\,\ Уткин\ А.И.png');
    margin-left: 90px;
}

.book-cover-danilov{
    background-image: url('../img/Данилов\ Косулина\ 1995.jpeg');
    margin-left: 80px;
}

.book-cover-medinsky{
    background-image: url('../img/2021.jpeg');
    margin-left: 60px;
}

.book-cover-furaev{
    background-image: url('../img/1983.png');
    margin-left: 60px;
}



h4{
    font-weight:400 ;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 0px;


}



.my-slide-text{
    width: auto;
    margin: 35px 20px 10px 20px;
	font-family: sans-serif;
    font-size: 19px;
    font-style: normal;
	font-weight:100;
    color: rgba(45,45,45,1);
}

.long-text{
    font-size: 17px;
}

.highlight{
    font-weight: 300 !important;

    color: #9A1F00;

}



.gray-box{
    background-color: #D4D4D4;
    height: 50px;
    width: 100%;
}


#placeholder-text{
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 22px;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;


}


/* INTERVIEWS PAGE */


#int-pic{
 
    background-image: url('../img/Vietnam-War-11-big.jpeg');
    opacity:80%;
}



/* DESKTOP MEDIA QUERIES */

@media screen and (min-width:821px){

    .parallax-window {
        min-height: 800px;
        background: transparent;
    }
   

    #home-page{  
        margin: 0%;
        background-color: #F5F5F5;
        overflow: hidden;
        height: 100vh;
        
    }


#home-header{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 13;
    
}

#home-title{

        font-family: john-doe, sans-serif;
        font-style: normal;
        font-size: 40px;
        color: #B11E16;
        text-decoration: none;
        text-shadow: 1px 1px 2px #00000029;
        margin-left: 60px;
	    margin-top: 20px;
        text-align: center;
}

#home-menu-button{
    background-image: url('../img/Menu_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 45px;
    width: 60px;
    margin-left: 12%;

}



#home-menu{
    
    margin-top: 170px;
        margin-left: 42%;
        top: auto; /* Disable top centering */
        transform: none; /* Disable translate */
        left: 0%;
    
 }

 


#home-menu >a {
    font-family: john-doe, sans-serif;
    font-style: normal;
    font-size: 25pt;
    color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0% 0% 0%;
    text-decoration: none;

}




#home-pic{
    display: flex;    
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    
}


#home-pic-left{
    background-image: url('../img/home-left.png');
    height: 700px;
    width: 100%;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    z-index: 3;
    position: relative;

    overflow: hidden;
    min-height: 100vh;
}


#home-pic-right{
    background-image: url('../img/home-right.png');
    height: 700px;
    width: 100%;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    z-index: 9;
    position: relative;
   
    overflow: hidden;
    min-height: 100vh;

}

 #split-left {
    width: 50%;
    overflow: hidden;
  }

  #split-right {
    width: 50%;
    overflow: hidden;
  }
  

 /* ABOUT PAGE */

nav{
    display: flex;
    justify-content: flex-start;
    border-bottom: #9A1F00 solid 1px;
	width: 100%;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
    position: fixed;
    background-color: #D4D4D4;
    z-index: 1000;

}

.nav-item{
    color: #9A1F00; 
    margin: 10px 20px 5px 20px;

}


.background-pic{
    height: 750px;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    margin: 0%;
    
}

.title{
    font: normal normal normal 20px/22px JohnDoe;
    text-decoration: none;
    text-align: center;
    flex-basis: 90%;
}

.pic-description{

	position: absolute;
	overflow: visible;
	text-align: right;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(249,249,249,1);
    margin-top: 700px;
    margin-left: 50%;

}


.headline{
        color: #B11E16;
        position: absolute;
        margin-left: 30px;
        margin-top: -700px;
        font-size: 25px;

         
}

/*TEXTBOOKS*/

.bx-viewport{
    height: 580px !important;
    overflow: auto !important;
}

.bx-wrapper .bx-controls-direction a{
    z-index: 1 !important;
    margin-top: -16px !important;

}

.my-slide{
    display: flex !important;
    justify-content: space-evenly !important;

}

.my-slide-text{
    width: 60%;
    margin: 35px 60px 0px 10px;
	font-family: sans-serif;
    font-size: 19px;
    font-style: normal;
	font-weight:100;
    color: rgba(45,45,45,1);
}

.long-text{
    font-size: 18px;
}

h3{
    margin: 0px 30px 0px 0px;
    font-size:20px;
    font-weight:700 ;
    font-style: normal;
    font-family: sans-serif;
    color: rgba(45,45,45,1);
    text-transform: uppercase;

}

.li-slide{
    width: 1000px !important;
}

.li-slide>header{
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    background-color: #F1F1F3;
    margin-top: 20px;

}

#textbooks-headline, #int-headline{
    color: white !important;
    font-size: 25px;


}

.secondary-headline{
    text-align: center;
    font-family: Palatino;
    font-style: normal;
    font-weight: 100;
    font-size: 65px;
    color: rgba(177,30,22,1);
    text-transform: uppercase;

}

.secondary-headline>h2{
    margin-top: -50px;
    margin-bottom: 0px;

}



#quiz-wrapper{
    margin: auto;
    border: 1px solid #9A1F00;
    height: 580px;
    overflow: auto !important;
    max-width: 1000px !important;
    background-image: url('../img/Cuba-9-big.jpeg');
    
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;


    
}



    






#int-pic-description{
    text-align: left !important;
    margin-left: 10px;
    margin-top: 700px;
    margin-right: 600px;
    color: #F9F9F9 !important;

}

#int-pic{
    background-position-y: -150px;

}
   

  

   

}



/* OVERLAY MENU */

.overlay a {
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.1s;
    font-family: john-doe, sans-serif;
    font-style: normal;
}


.overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}

.overlay .closebtn {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 40px;
}

.overlay-content {
    position: relative;
    height: 100%; 
    background-color: #9A1F00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.4s;
}


/* DESKTOP OVERLAY MENU MEDIA QUERIES */

@media screen and (min-width: 821px) {
    

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
    
        overflow-x: hidden;
        transition: 0.3s;
      }
      
      .overlay-content {
        position: relative;
        margin-right: 80%;   
        height: 100%; 
        background-color: #9A1F00;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        transition: 0.1s;
        font-family: john-doe, sans-serif;
        font-style: normal;
       
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
        .overlay .closebtn {
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 40px;
     }
      
    
  }
